<!DOCTYPE html>

<html>

<head>

<script

src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script type="text/javascript" src="app.js"></script>
<link rel="stylesheet" type="text/css" href="style.css">
</head>

<body ng-app="LunchCheck">

<div ng-controller="LunchCheckController">

<input type="text" ng-model="itemList" ng-class="borderClass"/>&nbsp&nbsp
<label class="info">we will <strong>NOT</strong> consider an empty item, i.e., , , as an item towards to the count</label>
<br/><br/>
<input type="button" value="Check If Too Much" ng-click="check()"/>

<p ng-class="colorClass">{{message}}</p>

</div>
<script id="__bs_script__">//<![CDATA[
    document.write("<script async src='http://HOST:3000/browser-sync/browser-sync-client.js?v=2.18.6'><\/script>".replace("HOST", location.hostname));
//]]></script>
</body>

</html>
